<!DOCTYPE html>
html(lang="en")
  head
    meta(cahrset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css" href="/css/reset.css")
    link(rel="stylesheet", type="text/css" href="/css/layout.css")
    link(rel="stylesheet", type="text/css" href="/css/phone.css")
    link(rel="stylesheet", type="text/css" href="/css/register.css")
    title register
  body 
    div.register_layout
        div.layout.p_container
            header
                img(src='../static/images/arrow.png')
                h3 회원가입
                button 다음
            section.phone_wrapper
                label(for="phone") 휴대전화
                form
                    input(type="text", maxlength='13' name="phone", placeholder="전화번호를 입력해주세요")
                    div
                        button x
                        span.check
            section.input_certify
                button 인증번호 받기
                div.hidden
                    label(for="cetify_num") 인증번호
                    form
                        input(type="number", name="cetify_num", placeholder="인증번호를 입력해주세요")
                    button 인증번호 다시받기
        div.layout.u_container.none
            header
                img(src='../static/images/arrow.png')
                h3 회원가입
                button 완료
            section.input_wrapper.email_wrapper
                label(for="email") 이메일
                form
                    input(type="text", name="email", placeholder="이메일을 입력해주세요")
                    div
                        button x    
                        span.none.check
                    button 중복확인        
            div.info.none
                section.input_wrapper
                    label(for="nickname") 닉네임
                    form
                        input(type="text", name="nickname", placeholder="닉네임을 입력해주세요")
                        div
                            span.check
                section.input_wrapper
                    label(for="password") 비밀번호
                    form
                        input(type="password", name="password", placeholder="비밀번호를 입력해주세요")
                        div
                            span.check
                    div.none     
                section.input_wrapper
                    label(for="birth") 생년월일
                    form
                        input(type="text", name="birth", maxlength='10', placeholder="예) 2000.01.01")
                        div.none
                            span.check
                    div.none           
    script(src="/js/register.js")



