extends main.pug

block layout 
  div.close-layout
    header
      button.close-button
        img(src="/images/close.png")
    div.content
      block close-layout
      
block script
  script(type="module" src="/js/close-layout.js")

