extends back-layout

block title
  h1 회원가입

block next-button 
  button#go-next-button 다음

block content
  section.phone_wrapper
    label(for="phone") 휴대전화
    form
      input(type="text", maxlength='13' name="phone", placeholder="전화번호를 입력해주세요")
      div
        button.reset-button
          span x
        span.check
  section.input_certify
    button 인증번호 받기
    div.hidden
      label(for="cetify_num") 인증번호
      form
          input(type="number", name="cetify_num", placeholder="인증번호를 입력해주세요")
      button 인증번호 다시받기