<!DOCTYPE html>
html(lang="en")
  head
    title baemin-4
    meta(cahrset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/reset.css")
    link(rel="stylesheet" type="text/css" href="/css/layout.css")
    link(rel="stylesheet" type="text/css" href="/css/signup.css")
  body 
    div.layout 
      div#terms-page.display-none
        include terms.pug
      div#phone-page.display-none
        include phone.pug
      div#user-info-page.display-none
        include user-info.pug
    script(type="module" src="/js/signup.js")