extends close-layout

block title
  h1 회원가입

block content
  h2 
    | 어서오세요
    br
    | 약관동의가 필요해요
  div.terms-form-wrapper
    div.check-box-wrapper 
      input(id="all" type="checkbox" value="전체동의")
      label(for="all") 
      span 
        strong 전체동의
        
    hr

    div.check-box-wrapper 
      input(id="term1" type="checkbox")
      label(for="term1") 
      span 배달의민족 이용약관 동의
    div.check-box-wrapper 
      input(id="term2" type="checkbox")
      label(for="term2") 
      span 전자금융거래 이용약관 동의
    div.check-box-wrapper 
      input(id="term3" type="checkbox")
      label(for="term3") 
      span 개인정보 수집이용 동의
    div.check-box-wrapper 
      input(id="term4" type="checkbox")
      label(for="term4") 
      span 개인정보 제3자 제공 동의 (선택)
    div.check-box-wrapper 
      input(id="term5" type="checkbox")
      label(for="term5") 
      span 마케팅 정보 메일, SMS 수신 동의 (선택)

    hr

    div.radio-wrapper 
      input(id="over-14" type="radio" name="age")
      label(for="over-14")
      div.description-wrapper 
        p 만 14세 이상입니다.
      img(src="/images/over-14.png")
    div.radio-wrapper 
      input(id="under-14" type="radio" name="age")
      label(for="under-14")
      div.description-wrapper 
        p 만 14세 미만입니다.
        p.description 본인확인이 된 보호자의 배민계정이 필요합니다.
      img(src="/images/under-14.png")#under-14
    
    button(disabled).next-button 다음으로
      