extends back-layout

block title
    h1 회원가입

block next-button 
  button#complete-button 완료

block content
    section.input_wrapper.email_wrapper
        label(for="email") 이메일
        form
            input(type="text", name="email", placeholder="이메일을 입력해주세요")
            div
                button x    
                span.none.check
            button 중복확인        
    div.info.none
        section.input_wrapper
            label(for="nickname") 닉네임
            form
                input(type="text", name="nickname", placeholder="닉네임을 입력해주세요")
                div
                    span.check
        section.input_wrapper
            label(for="password") 비밀번호
            form
                input(type="password", name="password", placeholder="비밀번호를 입력해주세요")
                div
                    span.check
            div.none     
        section.input_wrapper
            label(for="birth") 생년월일
            form
                input(type="text", name="birth", maxlength='10', placeholder="예) 2000.01.01")
                div.none
                    span.check
            div.none        