* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  line-height: 12px;
}

.u_container button {
  background-color: transparent;
}

.layout {
  padding: 4rem 2rem;
}

.u_container header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.u_container header > img {
  height: 1rem;
  width: 1rem;
  background-color: white;
  font-weight: bold;
}

.u_container header > button {
  color: var(--color-lightGray0);
}

.u_container .input_wrapper {
  height: 6.4rem;
  position: relative;
  padding-bottom: 2.5rem;
}

.u_container .input_wrapper form > div {
  position: absolute;
  right: 0;
}

.u_container .input_wrapper > label {
  display: block;
  color: var(--color-darkGray1);
}

.u_container .input_wrapper > form {
  display: flex;
  margin: 1.2rem 0 0 0;
  border-bottom: 1px solid var(--color-lightGray0);
}

.u_container .input_wrapper > form > input {
  width: 84%;
  padding-bottom: 0.7rem;
  margin-right: 0.6rem;
  background-color: none;
}

.u_container .input_wrapper > form > input:disabled {
  background-color: var(--color-white0);
}

.u_container .input_wrapper > form > div {
  padding-bottom: 0.6rem;
}

.u_container .input_wrapper > form > div > button {
  line-height: 0.5;
  color: var(--color-white0);
  border-radius: 50%;
  background-color: #888888;
  width: 1.1rem;
  height: 1.1rem;
}

.u_container .input_wrapper > form > div > span {
  color: var(--color-lightGray0);
  font-size: 1.3rem;
  position: relative;
  right: 1.1rem;
}

.u_container .email_wrapper > form > div > span {
  bottom: 0.5rem;
  left: 0.3rem;
}

.u_container .email_wrapper > form {
  width: 72%;
  align-items: center;
}

.u_container .email_wrapper > form > button {
  position: absolute;
  right: 0;
  color: var(--color-lightGray0);
  border: 1px solid var(--color-lightGray0);
  border-radius: 5px;
  padding: 0.5rem 0.9rem;
  margin-bottom: 0.3rem;
}

.u_container .email_wrapper > form > div {
  position: relative;
  left: 0.7rem;
}

.u_container .focus {
  color: var(--color-black0) !important;
}

.u_container .complete {
  color: var(--color-baemin0) !important;
  font-weight: bold !important;
}

.u_container .show {
  visibility: visible !important;
}

.u_container .hidden {
  visibility: hidden !important;
}

.u_container .none {
  display: none !important;
}

.u_container .alert {
  color: var(--color-red0);
  margin-top: 0.4rem;
  font-size: 10.5px;
}

.u_container .b_red {
  border-bottom: 1px solid var(--color-red0) !important;
}

.u_container .check::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid var(--color-lightGray0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.u_container .complete.check::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid var(--color-baemin0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
